@charset "UTF-8";

@font-face {
  font-family: "handy";
  src:url("http://d35def25at2mtm.cloudfront.net/fonts/handy_v1.9.eot");
  src:url("http://d35def25at2mtm.cloudfront.net/fonts/handy_v1.9.eot?#iefix") format("embedded-opentype"),
    url("http://d35def25at2mtm.cloudfront.net/fonts/handy_v1.9.svg#handy") format("svg"),
    url("http://d35def25at2mtm.cloudfront.net/fonts/handy_v1.9.ttf") format("truetype"),
    url("http://d35def25at2mtm.cloudfront.net/fonts/handy_v1.9.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="hi-"], [class*=" hi-"] {
  speak: none;
  font-family: 'handy', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Handy font custom positioning */
.icon-positioning-and-sizing {
  display: block;
  font-size: 0.31em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.icon-positioning-and-sizing:before {
  display: block;
}

.icon-positioning-and-sizing.fa {
  font-size: 0.18em;
}

/* Handy font icon custom class declarations */
.hi-bottle:before  { content: "\e606"; }
.hi-brush:before   { content: "\e607"; }
.hi-bulb:before    { content: "\e608"; }
.hi-plunger:before { content: "\e609"; }
.hi-wrench:before  { content: "\e60a"; }
.hi-star:before    { content: "\e62d"; }

/* The Handy logo */
.hi-logo:before { content: "\e60c"; }


/* Circular fonts */
@font-face {
  font-family: CircularStd;
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: CircularStd;
  font-weight: bold;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: CircularStd;
  font-style: italic;
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
}
